body {
  -webkit-transition: all 0.2s ease;
  -khtml-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  body .ui-draggable .ui-dialog-titlebar {
    background: #2969B0; }
  body .ui-widget-content.ui-dialog {
    border-color: #2969B0; }
  body [type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #2969B0;
    background-color: #2969B0; }
  body.theme_2 .app:before {
    background-color: #F1C04E; }
  body.theme_2 .toolbar {
    background: #986A00; }
  body.theme_2 .settings ul li:hover {
    background: #986A00; }
  body.theme_2 .panel_options {
    background: rgba(152, 106, 0, 0.61); }
  body.theme_2 .ui-draggable .ui-dialog-titlebar {
    background: #F1C04E; }
  body.theme_2 .ui-widget-content.ui-dialog {
    border-color: #F1C04E; }
  body.theme_2 [type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #F1C04E;
    background-color: #F1C04E; }
  body.theme_2 .down_ico:hover, body.theme_2 .delete_ico:hover, body.theme_2 .export_ico:hover, body.theme_2 .import_ico:hover {
    color: #F1C04E; }
  body.theme_3 .app:before {
    background-color: #FF3333; }
  body.theme_3 .toolbar {
    background: #B91010; }
  body.theme_3 .settings ul li:hover {
    background: #B91010; }
  body.theme_3 .panel_options {
    background: rgba(255, 51, 51, 0.6); }
  body.theme_3 .ui-draggable .ui-dialog-titlebar {
    background: #FF3333; }
  body.theme_3 .ui-widget-content.ui-dialog {
    border-color: #FF3333; }
  body.theme_3 [type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #FF3333;
    background-color: #FF3333; }
  body.theme_3 .down_ico:hover, body.theme_3 .delete_ico:hover, body.theme_3 .export_ico:hover, body.theme_3 .import_ico:hover {
    color: #FF3333; }
  body.theme_4 .app:before {
    background-color: #9633FF; }
  body.theme_4 .toolbar {
    background: #4510B9; }
  body.theme_4 .settings ul li:hover {
    background: #4510B9; }
  body.theme_4 .panel_options {
    background: rgba(150, 51, 255, 0.6); }
  body.theme_4 .ui-draggable .ui-dialog-titlebar {
    background: #9633FF; }
  body.theme_4 .ui-widget-content.ui-dialog {
    border-color: #9633FF; }
  body.theme_4 [type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #9633FF;
    background-color: #9633FF; }
  body.theme_4 .down_ico:hover, body.theme_4 .delete_ico:hover, body.theme_4 .export_ico:hover, body.theme_4 .import_ico:hover {
    color: #9633FF; }

.panel_options {
  position: absolute;
  box-sizing: border-box;
  padding: 4rem .7rem;
  top: 0;
  right: 0;
  height: 100vh;
  max-width: 200px;
  background: rgba(3, 169, 244, 0.6);
  z-index: 999999;
  -webkit-transition: transform 0.15s ease-in;
  -khtml-transition: transform 0.15s ease-in;
  -moz-transition: transform 0.15s ease-in;
  -ms-transition: transform 0.15s ease-in;
  -o-transition: transform 0.15s ease-in;
  transition: transform 0.15s ease-in;
  -webkit-transform: translatex(100%);
  -khtml-transform: translatex(100%);
  -moz-transform: translatex(100%);
  -ms-transform: translatex(100%);
  -o-transform: translatex(100%);
  transform: translatex(100%); }
  .panel_options label {
    cursor: pointer;
    margin-top: 1rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    text-align: center; }
  .panel_options input[type=text], .panel_options input[type=date] {
    border-color: white;
    color: white;
    text-align: center; }
    .panel_options input[type=text]:focus, .panel_options input[type=date]:focus {
      box-shadow: none;
      border-color: white; }
  .panel_options.open {
    -webkit-transform: translatex(0%);
    -khtml-transform: translatex(0%);
    -moz-transform: translatex(0%);
    -ms-transform: translatex(0%);
    -o-transform: translatex(0%);
    transform: translatex(0%); }

.item-drag {
  text-align: center !important;
  margin-bottom: .5rem; }

.icon-drag, .shape {
  z-index: 3;
  position: relative;
  color: white;
  text-align: center;
  word-wrap: break-word;
  line-height: 1;
  text-shadow: 0 0 1px #323232;
  line-height: 50px;
  font-size: 1.5rem;
  box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.33);
  display: inline-block; }
  .icon-drag[type="woman"], .shape[type="woman"] {
    content: attr(text);
    background: #e94e1b;
    padding: .5rem;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
  .icon-drag[type="woman_studied"], .shape[type="woman_studied"] {
    content: attr(text);
    padding: .5rem;
    background: #e94e1b;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
    .icon-drag[type="woman_studied"]:after, .shape[type="woman_studied"]:after {
      width: 75%;
      height: 75%;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.85);
      border: solid thin #111;
      content: '';
      -webkit-border-radius: 50%;
      -khtml-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
  .icon-drag[type="man"], .shape[type="man"] {
    background: #2daae1;
    padding: .5rem; }
  .icon-drag[type="man_studied"], .shape[type="man_studied"] {
    background: #2daae1;
    padding: .5rem; }
    .icon-drag[type="man_studied"]:after, .shape[type="man_studied"]:after {
      width: 75%;
      height: 75%;
      margin: auto;
      background: rgba(0, 0, 0, 0.85);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: solid thin #111;
      content: ''; }
  .icon-drag[type="lesbian"], .shape[type="lesbian"] {
    background: #2daae1;
    padding: .5rem;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
    .icon-drag[type="lesbian"]:after, .shape[type="lesbian"]:after {
      content: '';
      border: 32px solid #fff;
      border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent;
      border-width: 34px 32px 0 32px;
      display: block;
      position: absolute;
      top: 20px;
      left: 0px; }
  .icon-drag[type="homosex"], .shape[type="homosex"] {
    background: #e94e1b;
    padding: .5rem; }
    .icon-drag[type="homosex"]:after, .shape[type="homosex"]:after {
      content: '';
      border: 32px solid #fff;
      border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent;
      border-width: 34px 32px 0 32px;
      display: block;
      position: absolute;
      top: 20px;
      left: 0px; }
  .icon-drag[type="pregnancy"], .shape[type="pregnancy"] {
    box-shadow: none; }
    .icon-drag[type="pregnancy"]:after, .shape[type="pregnancy"]:after {
      box-sizing: border-box;
      content: '';
      border: 32px solid #323232;
      display: block;
      border-color: transparent transparent #2daae1 transparent;
      border-width: 0px 32px 34px 32px;
      position: absolute;
      bottom: 13px; }
    .icon-drag[type="pregnancy"]:before, .shape[type="pregnancy"]:before {
      content: attr(text);
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      left: 0;
      padding: .5rem;
      z-index: 3; }
  .icon-drag[type="esp_abortion"], .shape[type="esp_abortion"] {
    position: relative;
    border: thin solid #302F2F; }
    .icon-drag[type="esp_abortion"]:before, .shape[type="esp_abortion"]:before {
      background-image: url(../resources/shapes/die.png);
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 9;
      position: absolute;
      width: 90%;
      height: 90%;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: ''; }
  .icon-drag[type="ind_abortion"], .shape[type="ind_abortion"] {
    position: relative;
    box-shadow: none; }
    .icon-drag[type="ind_abortion"]:before, .shape[type="ind_abortion"]:before {
      position: absolute;
      width: 95%;
      height: 95%;
      margin: auto;
      background: #323232;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      -webkit-border-radius: 50%;
      -khtml-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }

.shape .date, .shape .name, .shape .text {
  position: absolute !important;
  top: -35px !important;
  left: -40px !important;
  width: 150% !important;
  font-size: 0.9rem !important;
  color: #111 !important;
  line-height: 1 !important; }
  .shape .date:first-letter, .shape .name:first-letter, .shape .text:first-letter {
    text-transform: uppercase; }
.shape .date {
  left: initial !important;
  right: -61px !important; }
.shape .name {
  top: -35px !important;
  left: -60px !important;
  right: initial !important; }
.shape .text {
  top: initial !important;
  bottom: -111px !important;
  right: -41px !important;
  margin: auto !important;
  border: none;
  outline: none;
  width: 90px !important;
  text-align: center;
  resize: none;
  height: 101px !important;
  overflow: hidden; }
.shape[die] {
  position: relative; }
  .shape[die]:before {
    background-image: url(../resources/shapes/die.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9;
    position: absolute;
    width: 76%;
    height: 76%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: ''; }

.size_content span {
  margin-right: 1rem; }
.size_content input {
  display: inline;
  margin: 0;
  height: 1.5rem;
  max-width: 90px; }

.container_btn {
  margin: 1rem 0 0; }
  .container_btn button {
    background: transparent;
    border: solid thin #e53935;
    color: #e53935;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: .85rem;
    padding: .25rem 0;
    -webkit-transition: all 0.35s ease;
    -khtml-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease; }
    .container_btn button:hover {
      background: #e53935;
      color: white; }

.content_age input {
  margin: 0;
  height: 1.5rem; }

.design_content span, .die_content span {
  margin-right: 1rem; }
.design_content input[type=checkbox], .die_content input[type=checkbox] {
  position: static; }

.type_connector {
  background: rgba(150, 135, 135, 0.32);
  position: absolute;
  z-index: 9;
  bottom: 0;
  right: 0;
  height: 60px;
  width: 151px;
  padding: 3px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.26);
  transform: translate3d(100%, 100%, 0); }
  .type_connector.move {
    transform: translate3d(0, 0, 0); }

.typett {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #3E3131;
  font-size: 10px;
  padding-top: 4px; }

#image_type {
  width: 100%; }

.size_content, .design_content, .die_content {
  text-align: left; }

.down_ico, .delete_ico, .export_ico, .import_ico {
  -webkit-transition: all 0.5s ease;
  -khtml-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .down_ico:hover, .delete_ico:hover, .export_ico:hover, .import_ico:hover {
    color: #2969B0;
    text-decoration: underline; }

.down_ico + input[type=file] {
  display: none; }

.content.toolbox h3 {
  height: auto;
  line-height: 1;
  text-decoration: none; }

.settings {
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 99999; }
  .settings img {
    max-width: 30px;
    cursor: pointer;
    -webkit-transition: transform 3s linear;
    -khtml-transition: transform 3s linear;
    -moz-transition: transform 3s linear;
    -ms-transition: transform 3s linear;
    -o-transition: transform 3s linear;
    transition: transform 3s linear; }
    .settings img:hover {
      -webkit-transform: rotate(360deg);
      -khtml-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg); }
      .settings img:hover + ul {
        height: 108px;
        border: #323232 dotted thin; }
  .settings ul {
    -webkit-transition: height 0.5s ease;
    -khtml-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
    position: absolute;
    height: 0;
    background: white;
    overflow: hidden;
    width: 65px;
    left: -25px;
    top: 17px; }
    .settings ul:hover {
      height: 108px;
      border: #323232 dotted thin; }
    .settings ul li {
      padding: .15rem;
      -webkit-transition: height 0.5s ease;
      -khtml-transition: height 0.5s ease;
      -moz-transition: height 0.5s ease;
      -ms-transition: height 0.5s ease;
      -o-transition: height 0.5s ease;
      transition: height 0.5s ease;
      cursor: pointer; }
      .settings ul li:hover {
        background: #03A9F4;
        color: white; }

circle {
  fill: rgba(110, 110, 110, 0.2);
  z-index: 2;
  -webkit-transition: all 0.2s ease;
  -khtml-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  circle:hover {
    fill: #6e6e6e; }

path {
  stroke: #323232;
  stroke-width: 2.5px;
  cursor: pointer; }
  path:hover {
    stroke: #000; }

.age {
  color: white;
  z-index: 8;
  display: block;
  position: relative;
  width: 100%;
  height: 100%; }

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -khtml-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }
  .overlay.open {
    z-index: 999;
    opacity: 1; }
    .overlay.open .close_overlay {
      display: block !important; }
    .overlay.open:after {
      position: absolute;
      margin: auto;
      left: 15px;
      bottom: 15px;
      content: "Marque el punto " attr(step);
      color: white;
      z-index: 0;
      font-weight: bold; }
  .overlay.drag {
    opacity: 1; }
  .overlay .close_overlay {
    position: absolute;
    top: 1%;
    right: 1%;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer; }
    .overlay .close_overlay:hover {
      text-decoration: underline; }

.draw_line {
  cursor: pointer;
  text-align: center; }
  .draw_line:hover {
    text-decoration: underline; }
  .draw_line > span {
    width: 90%;
    display: block;
    margin: 0 auto;
    height: 3px;
    background: #323232; }

.loader {
  z-index: 9999;
  position: fixed;
  background: white;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-transition: opacity 1s ease;
  -khtml-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease; }
  .loader.closed {
    opacity: 0; }
  .loader > div {
    position: absolute;
    width: 64px;
    height: 64px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.ui-accordion .ui-accordion-content:last-child > div {
  margin: .5rem 0; }

.wave {
  background-image: -webkit-radial-gradient(center, #fff, rgba(255, 255, 255, 0.6));
  background-image: radial-gradient(center, #fff, rgba(255, 255, 255, 0.6));
  border: 5px solid #aaa;
  box-shadow: 0 0 5px 2px #323232;
  box-sizing: border-box;
  border-radius: 50%;
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  transform: scale(0);
  transition: transform .2s ease-in-out;
  width: 100px;
  z-index: 1000; }
  .wave.effect {
    opacity: 1;
    transform: scale(0.15); }

.line {
  cursor: move; }

#canvas.drag:after {
  position: absolute;
  margin: auto;
  top: 0;
  content: '';
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 0; }
#canvas:after {
  opacity: 0;
  z-index: 3;
  -webkit-transition: all 0.5s ease;
  -khtml-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.ui-dialog .ui-dialog-title {
  color: white;
  text-transform: uppercase; }

/*# sourceMappingURL=main.css.map */
