@import 'variables';
@import 'functions';

body{
    @include transition(all .2s ease);
    
    .ui-draggable {
        .ui-dialog-titlebar{
            background: #2969B0;
        }
    }
    
    .ui-widget-content.ui-dialog{
        border-color: #2969B0;
    }
    
    [type="checkbox"].filled-in:checked + label:after {
      border: 2px solid #2969B0;
      background-color: #2969B0;
    }
    
    input[type=text]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=number]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
        border-bottom: 1px solid #2969B0;
        box-shadow: 0 1px 0 0 #2969B0;
    }
    
    &.theme_2{
        .app:before{
            background-color: $brown_primary;
        }
        
        .toolbar{
            background: $brown_secondary;
        }
        
        .settings{
            ul{
                li{
                    &:hover{
                        background: $brown_secondary;
                    }
                }
            }
        }
        
        .panel_options{
            background: rgba(152, 106, 0, 0.61);
        }
        
        .ui-draggable {
            .ui-dialog-titlebar{
                background: $brown_primary;
            }
        }
        
        .ui-widget-content.ui-dialog{
            border-color: $brown_primary;
        }
        
        [type="checkbox"].filled-in:checked + label:after {
          border: 2px solid $brown_primary;
          background-color: $brown_primary;
        }
        
        .down_ico, .delete_ico,.export_ico,.import_ico{
            
            &:hover{
                color: $brown_primary;
            }
        }
        
        input[type=text]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=number]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
            border-bottom: 1px solid $brown_primary;
            box-shadow: 0 1px 0 0 $brown_primary;
        }
    }
    
    &.theme_3{
        .app:before{
            background-color: $red_primary;
        }
        
        .toolbar{
            background: $red_secondary;
        }
        
        .settings{
            ul{
                li{
                    &:hover{
                        background: $red_secondary;
                    }
                }
            }
        }
        
        .panel_options{
            background: rgba(255, 51, 51, 0.6);
        }
        
        .ui-draggable {
            .ui-dialog-titlebar{
                background: $red_primary;
            }
        }
        
        .ui-widget-content.ui-dialog{
            border-color: $red_primary;
        }
        
        [type="checkbox"].filled-in:checked + label:after {
          border: 2px solid $red_primary;
          background-color: $red_primary;
        }
        
        .down_ico, .delete_ico,.export_ico,.import_ico{
            
            &:hover{
                color: $red_primary;
            }
        }
        
        input[type=text]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=number]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
            border-bottom: 1px solid $red_primary;
            box-shadow: 0 1px 0 0 $red_primary;
        }
    }
    
    &.theme_4{
        .app:before{
            background-color: $purple_primary;
        }
        
        .toolbar{
            background: $purple_secondary;
        }
        
        .settings{
            ul{
                li{
                    &:hover{
                        background: $purple_secondary;
                    }
                }
            }
        }
        
        .panel_options{
            background: rgba(150, 51, 255, 0.6);
        }
        
        .ui-draggable {
            .ui-dialog-titlebar{
                background: $purple_primary;
            }
        }
        
        .ui-widget-content.ui-dialog{
            border-color: $purple_primary;
        }
        
        [type="checkbox"].filled-in:checked + label:after {
          border: 2px solid $purple_primary;
          background-color: $purple_primary;
        }
        
        .down_ico, .delete_ico,.export_ico,.import_ico{
            
            &:hover{
                color: $purple_primary;
            }
        }
        
        input[type=text]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=number]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
            border-bottom: 1px solid $purple_primary;
            box-shadow: 0 1px 0 0 $purple_primary;
        }
    }
}

.panel_options{
    position: absolute;
    box-sizing: border-box;
    padding: 4rem .7rem;
    top: 0;
    right: 0;
    height: 100vh;
    max-width: 200px;
    background: rgba(3, 169, 244, 0.6);
    z-index: 999999;
    @include transition( transform .15s ease-in );
    @include transform( translatex(100%) );
    
    label{
        cursor: pointer;
        margin-top: 1rem;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        display: block;
        text-align: center;
    }
    
    input[type=text],input[type=date]{
        border-color: white;
        color: white;
        text-align: center;
        
        &:focus{
            box-shadow: none;
            border-color: white;
        }
    }
    
    &.open{
        @include transform( translatex(0%) );
    }
}

.item-drag{
    text-align: center!important;
    margin-bottom: .5rem;
}

.icon-drag, .shape{
    z-index: 3;
    position: relative;
    color: white;
    text-align: center;
    word-wrap: break-word;
    line-height: 1;
    text-shadow: 0 0 1px #323232;
    line-height: 50px;
    font-size: 1.5rem;
    box-shadow: 0 0 13px 0px rgba(0,0,0,.33);
    display: inline-block;
    
    &[type="woman"]{
        content: attr(text);
        background: $man;
        padding: .5rem;
        @include border-radius(50%);
    }
    
    &[type="woman_studied"]{
        content: attr(text);
        padding: .5rem;
        background: $man;
        @include border-radius(50%);
            
        &:after{
            width: 75%;
            height: 75%;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,.85);
            border: solid thin #111;
            content: '';
            @include border-radius(50%);
        }
    }
    
    &[type="man"]{
        background: $woman;
        padding: .5rem;
    }
    
    &[type="man_studied"]{
        background: $woman;
        padding: .5rem;
        
        &:after{
            width: 75%;
            height: 75%;
            margin: auto;
            background: rgba(0,0,0,.85);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: solid thin #111;
            content: '';
        }
    }
    
    &[type="lesbian"]{
        background: $woman;
        padding: .5rem;
        @include border-radius(50%);
        
        &:after{
            content: '';
            border: 32px solid #fff;
            border-color: rgba(0,0,0,.85) transparent transparent transparent;
            border-width: 34px 32px 0 32px;
            display: block;
            position: absolute;
            top: 20px;
            left: 0px;
        }    
        
    }
    
    &[type="homosex"]{
        background: $man;
        padding: .5rem;
        
        &:after{
            content: '';
            border: 32px solid #fff;
            border-color: rgba(0,0,0,.85) transparent transparent transparent;
            border-width: 34px 32px 0 32px;
            display: block;
            position: absolute;
            top: 20px;
            left: 0px;
        }    
        
    }

    &[type="pregnancy"]{
        box-shadow: none;
        
        &:after{
            box-sizing: border-box;
            content: '';
            border: 32px solid #323232;
            display: block;
            border-color: transparent transparent $woman transparent;
            border-width: 0px 32px 34px 32px;
            position: absolute;
            bottom: 13px;
        }
        
        &:before{
            content: attr(text);
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            left: 0;
            padding: .5rem;
            z-index: 3;
        }
    }
    
    &[type="esp_abortion"]{
        position: relative;
        border: thin solid #302F2F;
        background-color: white;
        
        &:before{
            background-image: url(../resources/shapes/die.png);
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 9;
            position: absolute;
            width: 90%;
            height: 90%;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: '';
        }
    }
    
    &[type="ind_abortion"]{
        position: relative;
        box-shadow: none;
        
        &:before{
            position: absolute;
            width: 95%;
            height: 95%;
            margin: auto;
            background: #323232;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: '';
            @include border-radius(50%);
        }
    }
    
}

.shape{
    
    .date, .name, .text{
        position: absolute!important;
        top: -35px!important;
        left: -40px!important;
        width: 150%!important;
        font-size: .9rem!important;
        color: #111!important;
        line-height: 1!important;
        
        &:first-letter{
            text-transform: uppercase;
        }
    }
    
    .date{
        left: initial!important;
        right: -61px!important;
    }
    
    .name{
        top: -35px!important;
        left: -60px!important;
        right: initial!important;
    }
    
    .text{
        top: initial !important;
        bottom: -111px !important;
        right: -41px !important;
        margin: auto !important;
        border: none;
        outline: none;
        width: 90px!important;
        text-align: center;
        resize: none;
        height: 101px!important;
        overflow: hidden;
    }
    
    &[die]{
        position: relative;
        
        &:before{
            background-image: url(../resources/shapes/die.png);
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 9;
            position: absolute;
            width: 70%;
            height: 70%;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: '';
        }
    }
}

.size_content{
    span{
        margin-right: 1rem;
    }
    
    input{
        display: inline;
        margin: 0;
        height: 1.5rem;
        max-width: 90px;
    }
}

.container_btn{
    margin: 1rem 0 0;
    
    button{
        background: transparent;
        border: solid thin #e53935;
        color: #e53935;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        font-size: .85rem;
        padding: .25rem 0;
        @include transition(all .35s ease);
        
        &:hover{
            background: #e53935;
            color: white;
        }
        
    }
}

.content_age{
    input{
        margin: 0;
        height: 1.5rem;
    }
}

.design_content, .die_content{
    span{
        margin-right: 1rem;
    }
    
    input[type=checkbox]{
        position: static;
    }
}

.type_connector {
    background: rgba(150, 135, 135, 0.32);
    position: absolute;
    z-index: 9;
    bottom: 0;
    right: 0;
    height: 60px;
    width: 151px;
    padding: 3px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.26);
    transform: translate3d(100%,100%,0);
    
    &.move{
        transform: translate3d(0,0,0);
    }
}

.typett {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #3E3131;
  font-size: 10px;
  padding-top: 4px;
}

#image_type {
    width: 100%;
}

.size_content,.design_content,.die_content {
    text-align: left;
}

.down_ico, .delete_ico,.export_ico,.import_ico{
    @include transition(all .5s ease);
    
    &:hover{
        color: #2969B0;
        text-decoration: underline;
    }
}

.down_ico{
    + input[type=file]{
        display: none;
    }
}

.content.toolbox{
    h3{
        height: auto;
        line-height: 1;
        text-decoration: none;
    }
}

.settings{
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 99999;
    
    img{
        max-width: 30px;
        cursor: pointer;
        @include transition(transform 3s linear);
        
        &:hover{
            @include transform(rotate(360deg));
            
            + ul{
                height: 108px;
                border: #323232 dotted thin;
            }
        }
    }
    
    ul{
        @include transition( height .5s ease );
        position: absolute;
        height: 0;
        background: white;
        overflow: hidden;
        width: 65px;
        left: -25px;
        top: 17px;
        
        &:hover{
            height: 108px;
            border: #323232 dotted thin;
        }
        
        li{
            padding: .15rem;
            @include transition( height .5s ease );
            cursor: pointer;
            
            &:hover{
                background: #03A9F4;
                color: white;
            }
        }
    }
}

circle{
    fill: rgba(110,110,110,.2);
    z-index: 2;
    @include transition(all .2s ease);
    
    &:hover{
        fill: rgba(110,110,110,1);
    }
}

path{
    stroke: #323232;
    stroke-width: 2.5px;
    cursor: pointer;
    
    &:hover{
        stroke: #000;
    }
}

.age{
    color: white;
    z-index: 8;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 125%;
    line-height: 2.3;
}

.overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: -1;
    position: relative;
    opacity: 0;
    @include transition(opacity .5s ease);
    
    &.open{
        z-index: 999;
        opacity: 1;
        
        .close_overlay{
            display: block!important;
        }
        
        &:after{
            position: absolute;
            margin: auto;
            left: 15px;
            bottom: 15px;
            content: 'Marque el punto ' attr(step);
            color: white;
            z-index: 0;
            font-weight: bold;
        }
    }
    
    &.drag{
        opacity: 1;
    }
    
    .close_overlay{
        position: absolute;
        top: 1%;
        right: 1%;
        color: white;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        cursor: pointer;
        
        &:hover{
            text-decoration: underline;
        }
    }
}

.draw_line{
    cursor: pointer;
    text-align: center;
    
    &:hover{
        text-decoration: underline;
    }
    
    > span{
        width: 90%;
        display: block;
        margin: 0 auto;
        height: 3px;
        background: #323232;
    }
}

.loader{
    z-index: 9999;
    position: fixed;
    background: white;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    @include transition(opacity 1s ease);
    
    &.closed{
        opacity: 0;
    }
    
    > div{
        position: absolute;
        width: 64px;
        height: 64px;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.ui-accordion .ui-accordion-content{
    &:last-child{
        > div{
            margin: .5rem 0;
        }
    }
}

.wave{
    background-image: -webkit-radial-gradient(center,#fff,rgba(255,255,255,.6));
    background-image: radial-gradient(center,#fff,rgba(255,255,255,.6));
    border: 5px solid #aaa;
    box-shadow: 0 0 5px 2px #323232;
    box-sizing: border-box;
    border-radius: 50%;
    height: 100px;
    left: 0px;
    position: absolute;
    top: 0px;
    transform: scale(0);
    transition: transform .2s ease-in-out;
    width: 100px;
    z-index: 1000;
    
    &.effect{
        opacity: 1;
        transform: scale(.15);
    }
}

.line{
    cursor: move;
}

#canvas{
    
    &.drag{
        
        &:after{
            position: absolute;
            margin: auto;
            top: 0;
            content: '';
            left: 0;
            background: rgba(0,0,0,.1);
            width: 100%;
            height: 100%;
            opacity: 1;
            z-index: 0;
        }
    }
    
    &:after{
        opacity: 0;
        z-index: 3;
        @include transition(all .5s ease);
    }
}

.ui-dialog {
    .ui-dialog-title{
        color: white;
        text-transform: uppercase;
    }
}