$brown_primary: #F1C04E;
$brown_secondary: #986A00;

$red_primary: #FF3333;
$red_secondary: #B91010;

$purple_primary: #9633FF;
$purple_secondary: #4510B9;

$man: rgb(233, 78, 27);
$woman: rgb(45, 170, 225);